---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<p>De tierras lejanas a nuestra sabrosura</p>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: rgb(78, 41, 41);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		justify-content: center;
	}
	h2 {
		font-family: 'Slackey', cursive;
		margin: 0;
		font-size: 1em;
		color: white;
	}
	p {
		font-size: 0.8em;
		color: white;
		margin: 0;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	nav a:hover {
		border-bottom-color: var(--accent);
	}

	nav {
		
		padding: 1rem;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		nav {
			justify-content: center;
		}
	}
</style>
